---
import Layout from "../layouts/Layout.astro";
import Section from "../components/section.astro";
import Text from "../components/text.astro";
import DentistCard from "../components/dentistCard.astro";
import Button from "../components/button.astro";
---

<Layout orientation="col">
    <Section extraClass="flex justify-between">
        <div>
            <img width="250px" src="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3">

        </div>
        <div class="w-full">
            <Text type="title" text="nombre del consultorio"></Text>
            <Text type="text" text="descripcion del consultorio"></Text>
            <Text type="text" text=""></Text>
            <Text type="mini" text="ubicacion del dentista"></Text>
        </div>
    </Section>

    <Section>
        <p>ubicacion mapa</p>
    </Section>
    <p>dentistas en este consultorio: </p>
    <Section orientation="row">
        <Button href="dentist" design="slot">
            <DentistCard profilePhoto="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3" name="dentistCard" cal={2.5} mb="true" especialidad="especialidad" ubicacion="calle test"/>
        </Button>
        <Button href="dentist" design="slot">
            <DentistCard profilePhoto="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3" name="dentistCard" cal={2.5} mb="true" especialidad="especialidad" ubicacion="calle test"/>
        </Button>
        <Button href="dentist" design="slot">
            <DentistCard profilePhoto="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3" name="dentistCard" cal={2.5} mb="true" especialidad="especialidad" ubicacion="calle test"/>
        </Button>

    </Section>
    <Section>

    </Section>
</Layout>
