---
import Layout from "../layouts/Layout.astro";
import Section from "../components/section.astro";
import Text from "../components/text.astro";
---

<Layout orientation="col">
    <Section>
            <div>
                <img width="50px" src="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3">
                <Text type="title" text="nombre del dentista"></Text>
                <Text type="text" text="especialidad del dentista"></Text>
                <Text type="text" text="descripcion del dentista"></Text>
                <Text type="mini" text="ubicacion del dentista"></Text>
            </div>
    </Section>
</Layout>
