---
const url = new URL(Astro.request.url)
const id = url.searchParams.get("id")
const title = url.searchParams.get("title")
const start = url.searchParams.get("start")
---

<h1>Evento recibido</h1>
<p>ID: {id}</p>
<p>Título: {title}</p>
<p>Fecha: {start}</p>
