---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/nav_bar.astro";
---

<Layout>
  <head>
    <title>Opciones</title>
    <meta charset="UTF-8" />
  </head>
  <body class="bg-primaryBackground-light dark:bg-primaryBackground-dark font-sans p-12 pt-0">
    <header></header>
    <p>home</p>
  </body>
</Layout>
