---
import Layout from "../layouts/Layout.astro";
import Section from "../components/section.astro";
---
<Layout>
    <Section importance="primary" mb="true">

    </Section>
    <Section importance="primary" mb="true">

    </Section>
    <Section importance="primary" mb="true">

    </Section>
</Layout>