---
import Layout from "../layouts/Layout.astro";
import Section from "../components/section.astro";
import DentistCard from "../components/dentistCard.astro";
---
<Layout>
    <Section importance="primary">
    <DentistCard profilePhoto="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3"/>
    </Section>
</Layout>