---
import Layout from "../layouts/Layout.astro";
import Section from "../components/section.astro";
import DentistCard from "../components/dentistCard.astro";
import ToolTip from "../components/toolTip.astro";
---
<Layout>
    
    <Section importance="secondary" orientation="col">

        <p>recomendaciones</p>

    <DentistCard profilePhoto="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3"/>
        <ToolTip
                iconSrc="/dist/icons/cv_icon.svg"
                label="Ver curriculum Vitae"
                link="/dist/cvs/adardevCV.pdf"
        />

    </Section>

    <Section importance="secondary" orientation="col">
        <p>historial</p>
    </Section>

</Layout>