---
import Layout from "../layouts/Layout.astro";
import Section from "../components/section.astro";
import DentistCard from "../components/dentistCard.astro";
---
<Layout>
    
    <Section importance="secondary" orientation="col">
        <p>recomendaciones</p>
    </Section>

    <Section importance="secondary" orientation="col">
        <p>historial</p>
    </Section>

</Layout>