---
import Layout from "../layouts/Layout.astro";
import Input from "../components/input.astro";
import ButtonPrimary from "../components/buttonPrimary.astro";
import ButtonSecondary from "../components/buttonSecondary.astro";
import Title from "../components/title.astro";
import Text from "../components/text.astro";
import MiniText from "../components/miniText.astro";
import StepIndicator from "../components/stepIndicator.astro";
import Section from "../components/section.astro";
---
<Layout>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
    </head>
    <div class="flex flex-col items-center justify-center w-full">
        <Title text="Bievenido a Densora" mb="true"/>
        <Text text="Inicia Sesion para continuar" mb="true"/>
        <Input placeholder="dqwd" mb="true"/>
        <Input placeholder="fwe" mb="true"/>
        <ButtonPrimary text="Inciar Sesion" mb="true"/>
        <ButtonSecondary text="Crear Cuenta" mb="true"/>
        <Section importance="primary">
            <MiniText text="terminos y condiciones"/>
            <StepIndicator/>
        </Section>
    </div>
</Layout>