---
import Layout from "../layouts/Layout.astro";
import Section from "../components/section.astro";
import DentistCard from "../components/dentistCard.astro";
import ToolTip from "../components/toolTip.astro";
---
<Layout>
    
    <Section importance="secondary" orientation="col">
<<<<<<< HEAD
        <p>recomendaciones</p>
=======
    <DentistCard profilePhoto="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3"/>
        <ToolTip
                iconSrc="/dist/icons/cv_icon.svg"
                label="Ver curriculum Vitae"
                link="/dist/cvs/adardevCV.pdf"
        />
>>>>>>> cb1a28fd52dff4d5492ea97120fb5f39f79e136d
    </Section>

    <Section importance="secondary" orientation="col">
        <p>historial</p>
    </Section>

</Layout>