---
import Layout from "../layouts/Layout.astro";
import Section from "../components/section.astro";
import DentistCard from "../components/dentistCard.astro";
---
<Layout align="center" orientation="row">
    <Section importance="secondary" orientation="row">
        <DentistCard profilePhoto="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3" name="test" description="lorem ipsum" cal="2" mb="true"/>
        <DentistCard profilePhoto="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3" name="test" description="lorem ipsum" cal="2" mb="true"/>
    </Section>
</Layout>