---
import Layout from "../layouts/Layout.astro";
import Input from "../components/input.astro";
import ButtonPrimary from "../components/buttonPrimary.astro";
import ButtonSecondary from "../components/buttonSecondary.astro";
import Title from "../components/title.astro";
import Text from "../components/text.astro";
---
<Layout>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Inicio</title>
	</head>

	<div class="flex flex-col items-center justify-center w-full">
		<Title text="Bievenido a Densora"/>
		<Text text="Inicia Sesion para continuar"/>

		<Input name="dqwd"/>
		<Input/>

		<ButtonPrimary name="fqwef"/>
		<ButtonSecondary/>
	</div>
</Layout>