---
import Layout from "../layouts/Layout.astro";
import Section from "../components/section.astro";
import DentistCard from "../components/dentistCard.astro";
import ConsultorioCard from "../components/consultorioCard.astro";
import Densora_logo from "../assets/icons/densora_logo.svg";
import Star_icon from "../assets/icons/star_icon.svg";
import Button from "../components/button.astro";
import Start_icon from "../assets/icons/star_icon.svg";
import Menu_icon from "../assets/icons/menu_icon.svg";
---
<Layout align="center" orientation="row">
    <p>boton para probar el tooltip con botones, no mover, se poncharan llantas</p>
    <Button
            design="icon"
            icon={Densora_logo}
            icons={[Star_icon, Menu_icon]}
            ids={["theme-icon", "menu-"]}
    />
    <Section importance="secondary" orientation="col" mb="true">
        <p>tu historial de citas</p>
    </Section>
    <Section importance="secondary" orientation="col" mb="true">
        <DentistCard profilePhoto="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3" name="dentistCard" description="lorem ipsum" cal="2" mr="true"/>
        <DentistCard profilePhoto="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3" name="test" description="lorem ipsum" cal="2"/>
    </Section>
    <Section importance="secondary" orientation="col">
        <ConsultorioCard profilePhoto="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3" name="consultorioCard" description="lorem ipsum" cal="2" mr="true"/>
        <ConsultorioCard profilePhoto="https://i.scdn.co/image/ab67616d0000b273dbc606d7a57e551c5b9d4ee3" name="test" description="lorem ipsum" cal="2"/>
    </Section>
</Layout>