---
import Layout from "../layouts/Layout.astro";
import Input from "../components/input.astro";
import ButtonPrimary from "../components/buttonPrimary.astro";
import ButtonSecondary from "../components/buttonSecondary.astro";
import Text from "../components/text.astro";
import StepIndicator from "../components/stepIndicator.astro";
import Section from "../components/section.astro";
import Form from "../components/form.astro";
import Mexico_flag from "../assets/flags/mexico_flag.svg";
import Phone_icon from "../assets/icons/phone_icon.svg";
---
<Layout>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
    </head>
    <div class="flex flex-col items-center justify-center w-full">
        <Text text="Bievenido a Densora" type="title"/>
        <Text text="Inicia Sesion para continuar" mb="true"/>
        <Form id="whatsappOTP">
            <Input placeholder="Numero de Telefono" id="phone" iconLeft={Phone_icon} iconRight={Mexico_flag} mb="true"/>
            <ButtonPrimary text="Inciar Sesion" mb="true"/>
        </Form>
        <p id="response"></p>
        <ButtonSecondary text="Crear Cuenta" mb="true" href="registro"/>
        <Section importance="primary">
            <Text text="terminos y condiciones" mb="true" type="mini"/>
            <StepIndicator/>
        </Section>
    </div>
</Layout>

<script type="module">
    const form = document.getElementById("whatsappOTP");
    const response = document.getElementById("response");
    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const phone = document.getElementById("phone").value;
        try {
            const res = await fetch("/api/sendWhatsappOTP", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    to: phone
                }),
            });

            const data = await res.json();

            if (res.ok) {
                response.textContent = "Mensaje enviado correctamente ✅";
            } else {
                response.textContent = "Error: " + data.error;
            }
        } catch (err) {
            response.textContent = "Fallo al conectar con el servidor ❌";
            console.error(err);
        }
    });
</script>