---
import Layout from "../layouts/Layout.astro";
import Input from "../components/input.astro";
import Text from "../components/text.astro";
import StepIndicator from "../components/stepIndicator.astro";
import Section from "../components/section.astro";
import Form from "../components/form.astro";
import User_icon from '../assets/icons/user_icon.svg';
import Mexico_flag from "../assets/flags/mexico_flag.svg";
import Phone_icon from "../assets/icons/phone_icon.svg";
import Button from "../components/button.astro";
import ToolTip from "../components/toolTip.astro";
---
<Layout>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
    </head>
    <div class="flex flex-col items-center justify-center w-full">
        <Text text="Bievenido a Densora" type="title"/>
        <Text text="Crea una cuenta para continuar" mb="true"/>
        <Form id="register">
           <Input placeholder="Nombre Completo" id="name" iconLeft={User_icon} mb="true"/>
           <Input placeholder="Numero de Telefono" id="phone" iconLeft={Phone_icon} iconRight={Mexico_flag} mb="true"/
            <Button text="Crear tu Cuenta" mb="true" design="primary" toolTipText="qfew"/>
        </Form>
        <p id="response"></p>
        <Section importance="primary" orientation="row">
            <Text text="terminos y condiciones" mb="true" type="text"/>
            <StepIndicator/>
        </Section>
    </div>
</Layout>

<script type="module" src="/src/scripts/register.js"></script>