---
import Layout from "../layouts/Layout.astro";
import Input from "../components/input.astro";
import Text from "../components/text.astro";
import Button from "../components/button.astro";
import Form from "../components/form.astro";
import Phone_icon from "../assets/icons/phone_icon.svg";
import Mexico_flag from "../assets/flags/mexico_flag.svg";
---

<Layout navBar="false">
  <div class="flex flex-col items-center justify-center w-full">
    <Text text="Crear cuenta" type="title" mt="true" />
    <Text text="Ingresa tu nombre y número de teléfono para registrarte" mb="true" />

    <Form id="registerForm">
      <Input placeholder="Nombre completo" id="name" mb="true" />
      <Input placeholder="Número de Teléfono" id="phone" iconLeft={Phone_icon} iconRight={Mexico_flag} mb="true" />
      <Button text="Registrarse" design="primary" mb="true" />
    </Form>

    <p id="response" class="text-center text-sm mt-2 text-gray-600 dark:text-gray-300"></p>

    <p class="text-primaryText-light dark:text-primaryText-dark text-sm mb-4">
        ¿Ya tienes cuenta?  <a href="/login" class="text-secondaryBackground-dark dark:text-secondaryBackground-light hover:text-hover-dark dark:hover:text-hover-light">inicia sesion aquí</a>
    </p>
  </div>
</Layout>

