---
import Button from "../components/button.astro";
import Layout from "../layouts/Layout.astro";
import Whatsapp_icon from "../assets/icons/whatsapp_icon.svg";
import InputOTP from "../components/inputOTP.astro";
import Section from "../components/section.astro";
import Text from "../components/text.astro";
---
<Layout align="center" orientation="row">
    <Whatsapp_icon class="w-16 h-16 fill-primary"/>
    <Text type="title" text="Introduce tu codigo de verificacion que te acaba de llegar porfa"/>
    <Section orientation="col">
        <InputOTP ml="true"/>
        <InputOTP ml="true"/>
        <InputOTP ml="true"/>
        <InputOTP ml="true"/>
        <InputOTP ml="true"/>
        <InputOTP ml="true" mr="true"/>
    </Section>
    <Button design="primary" text="Verificar Telefono"/>
</Layout>