---
const {cal = [], profilePhoto = []} = Astro.props;
import Text from "../../components/text.astro";
import Section from "../../components/section.astro";
const totalStars = 5;
import TheethFull_icon from "../../assets/icons/theethFull.svg";
import HalfTheet_icon from "../../assets/icons/halfTheet_icon.svg";
import Theeth_icon from "../../assets/icons/theeth_icon.svg";
let fullStars = Math.floor(cal);
let hasHalfStar = false;
if (cal % 1 >= 0.25 && cal % 1 < 0.75) {
    hasHalfStar = true;
}
let emptyStars = totalStars - fullStars;
if (hasHalfStar) {
    emptyStars -= 1;
}
---
{profilePhoto.map((photo, index) => {
    const totalStars = 5;
    let fullStars = Math.floor(cal[index] || 0);
    let hasHalfStar = false;
    if ((cal[index] || 0) % 1 >= 0.25 && (cal[index] || 0) % 1 < 0.75) {
        hasHalfStar = true;
        }
    let emptyStars = totalStars - fullStars;
    if (hasHalfStar) emptyStars -= 1;
    return (
    <>
        <Section orientation="row" importance="secondary" align="left" padding="false">
            <Section orientation="row" padding="false" extraClass=" w-full justify-between">
                <div class="flex gap-1">
                    {Array.from({length: fullStars}).map((_, i) => (
                            <TheethFull_icon width="24" class="fill-primary" key={i}/>
                    ))}
                    {hasHalfStar &&
                            <HalfTheet_icon width="24" class="fill-primary"/>}
                    {Array.from({length: emptyStars}).map((_, i) => (
                            <Theeth_icon width="24" class="fill-primary" key={i}/>
                    ))}
                </div>
                <Section>
                    <Text text={`Cal. ${cal}`} type="title"/>
                </Section>
            </Section>
        </Section>
    </>
        );
    })}