<div class="flex flex-col gap-4 p-4 bg-cyan-100">
    <div class="flex items-center border-2 border-teal-400 bg-teal-200 p-2 rounded">

        <p class="bg-transparent outline-none text-teal-700 w-full">Verificar</p>

    </div>
</div>
