---
import Title from "./title.astro";
const { text } = Astro.props;
---
<div class="flex items-center justify-center w-full max-w-md border-3 border-primary bg-primary px-8 py-2 rounded mb-4">
    <Title text={text}/>
</div>