---
const {mt, mb, ml, mr} = Astro.props;
let marginTop = "mt-none";
let marginBottom = "mb-none";
let marginLeft = "ml-none";
let marginRight = "mr-none";

if (mt === "true") {
    marginTop = "mt-4";
}
if (mb === "true") {
    marginBottom = "mb-4";
}
if (ml === "true") {
    marginLeft = "ml-4";
}
if (mr === "true") {
    marginRight = "mr-4";
}
---
<div class={`flex flex-row ${marginTop} ${marginBottom} ${marginLeft} ${marginRight} w-fit w-max-64 p-2 rounded bg-tertiaryBackground-light dark:bg-tertiaryBackground-dark`}>
    <slot/>
</div>