---
const {menuItems = []} = Astro.props;
---
<div class="">
    <slot />
  <ul class="absolute top-full mt-2 bg-primaryBackground-light dark:bg-primaryBackground-dark text-sm text-primaryText-light dark:text-primaryText-dark shadow-md rounded-lg py-2 w-40 hidden group-hover:block z-50">
    {menuItems.map((item) => (
      <li class="relative group/menu-item">
        <a href={item.href} class="block px-4 py-2 hover:bg-primaryBackground-light dark:hover:bg-primaryBackground-dark flex items-center gap-2">
          {item.icon && <item.icon class="w-4 h-4 fill-primaryText-light dark:fill-primaryText-dark" />}
          {item.label}
        </a>
        {item.submenu && item.submenu.length > 0 && (
          <ul class="absolute left-full top-0 bg-primaryBackground-light dark:bg-primaryBackground-dark shadow-md rounded-lg py-2 w-40 hidden group-hover/menu-item:block">
            {item.submenu.map((sub) => (
              <li>
                <a href={sub.href} class="block px-4 py-2 hover:bg-primaryBackground-light dark:hover:bg-primaryBackground-dark flex items-center gap-2">
                  {sub.icon && <sub.icon class="w-4 h-4" />}
                  {sub.label}
                </a>
              </li>
            ))}
          </ul>
        )}
      </li>
    ))}
  </ul>
</div>
