---
import Password_icon from '../assets/icons/password_icon.svg';
const {placeholder , type} = Astro.props;
---
<div class="flex justify-between w-full max-w-md border-3 px-8 py-2 rounded mb-4 border-primary bg-hover-light dark:bg-hover-dark">
    <Password_icon width="24" class="fill-secondary focus-within:fill-primary" />
    <input type={type} placeholder={placeholder} class="w-full px-2 font-medium outline-none text-primaryText-light dark:text-primaryText-dark" />
    <Password_icon width="24" class="fill-secondary focus-within:fill-primary" />
</div>