---
import Password_icon from '../assets/icons/password_icon.svg';
---

<div class="flex flex-col gap-4 p-4 bg-cyan-100 min-h-screen">
    <div class="flex items-center border-2 border-teal-400 bg-teal-200 p-2 rounded">
        <Password_icon width="24" fill="red"/>
        <input type="password" placeholder="Input" class="bg-transparent outline-none text-teal-700 w-full"/>
        <Password_icon width="24" fill="red"/>
    </div>
</div>
