---
import Password_icon from '../assets/icons/password_icon.svg';

const {label, value, iconLeft, iconRight} = Astro.props;

---

<div class="flex border-3 border-primary bg-teal-200 pt-2 pb-2 pl-32 pr-32 rounded mb-4">
    <Password_icon width="24" fill="red"/>
    <input type="password" placeholder="Input" class="bg-transparent outline-none text-teal-700 w-full"/>
    <Password_icon width="24" fill="red"/>
</div>
