---
import Password_icon from '../assets/icons/password_icon.svg';
const { placeholder, iconLeft, iconRight } = Astro.props;
---
<div class="w-80 flex items-center gap-2 border-3 border-secondary rounded mb-4 px-2 pt-2 pb-2 transition-colors duration-300 focus-within:border-primary focus-within:bg-hover-light dark:focus-within:bg-hover-dark">
    <Password_icon width="24" class="fill-secondary transition-colors duration-300 focus-within:fill-primary" />
    <input type="password" placeholder={placeholder} class="w-full px-4 bg-transparent outline-none text-primaryText-light dark:text-primaryText-dark" />
    <Password_icon width="24" class="fill-secondary transition-colors duration-300 focus-within:fill-primary" />
</div>