--- 
import Calendar_icon from '../assets/icons/calendar_icon.svg'
import Dark_icon from '../assets/icons/dark_icon.svg'
import User_icon from '../assets/icons/user_icon.svg'
import Light_icon from '../assets/icons/light_icon.svg'
import Densora_logo from '../assets/icons/densora_logo.svg'
---
<div class="gap-10">
<Calendar_icon width='28' height='28'></Cacalendar_icon>
<Dark_icon width='28' height='28'></Dark_icon>
<User_icon width='28' height='28'></User_icon>
<Densora_logo width='28' height='28'></Densora_logo>
<Light_icon width='28' height='28' fill='black'></Light_icon>

</div>