--- 
import Calendar_icon from '../assets/icons/calendar_icon.svg'
import Dark_icon from '../assets/icons/dark_icon.svg'
import User_icon from '../assets/icons/user_icon.svg'
import Light_icon from '../assets/icons/light_icon.svg'
import Densora_logo from '../assets/icons/densora_logo.svg'
import Find_icon from '../assets/icons/find_icon.svg'
import Menu_icon from '../assets/icons/menu_icon.svg'
import Star_icon from '../assets/icons/star_icon.svg'
import Oval from '../assets/shapes/oval.svg'
---

<header class="relative h-24">
    <div class="absolute top-0 left-0 w-full h-20 overflow-hidden -z-10">
        <svg width="100%" height="200" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg"
             class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-[60%]">
            <path d="M200,100
                     H1240
                     Q1340,100 1340,200
                     V300
                     Q1340,400 1240,400
                     H200
                     Q100,400 100,300
                     V200
                     Q100,100 200,100Z"
                  class="fill-primary dark:fill-secondary"/>
        </svg>
        <!--<Oval class="w-full h-20 fill-amber-300"/>-->
    </div>
    <div class="flex gap-10 items-center justify-center h-15 relative z-10">
        <Star_icon class='transform translate-y-1.5' width='28' height='28'/>
        <Menu_icon class="transform translate-y-2.5" width='28' height='28' />
        <Find_icon class="transform translate-y-3.5" width='28' height='28' />
        <Densora_logo class="transform translate-y-4" width='28' height='28' />
        <User_icon class="transform translate-y-3.5" width='28' height='28' />
        <Calendar_icon class="transform translate-y-2.5" width='28' height='28' />
        <Light_icon id="theme-icon" class='transform translate-y-1.5 hidden dark:block' width='28' height='28' />
        <Dark_icon id="theme-icon" class="transform translate-y-1.5 block dark:hidden" width='28' height='28' />
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const themeIcons = document.querySelectorAll('#theme-icon');
            const html = document.documentElement;
            
            themeIcons.forEach(icon => {
                icon.addEventListener('click', () => {
                    const currentTheme = html.getAttribute('data-theme');
                    const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
                    html.setAttribute('data-theme', newTheme);
                    localStorage.setItem('theme', newTheme);
                });
            });
        });
    </script>
</header>