---
const googleMapsApiKey = import.meta.env.PUBLIC_GOOGLE_MAPS_API_KEY;
---
<div class="w-128">
    <h1 class="text-2xl font-bold mb-4">Mapa de ubicación</h1>
    <div id="map" class="w-full h-[500px] rounded shadow-lg"></div>
</div>
<script is:inline>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: 20.6736, lng: -103.344},
            zoom: 14,
            mapId: "DEMO_MAP_ID"
        });
    }
    window.initMap = initMap;
</script>
<script src={`https://maps.googleapis.com/maps/api/js?key=${googleMapsApiKey}&callback=initMap&libraries=marker`} loading="async"></script>