---
const {importance, mt, mb, orientation} = Astro.props;
let containerClass = "";
let marginTop = "mt-none";
let marginBottom = "mb-none";
let flexOrientation = "";
if (mt == "true") {
    marginTop = "mt-4";
}
if (mb == "true") {
    marginBottom = "mb-4";
}
if(importance == "primary"){
    containerClass = "bg-secondaryBackground-light dark:bg-secondaryBackground-dark";
}
if(orientation == "col"){
    flexOrientation = "flex-col";
}
if(orientation == "row"){
    flexOrientation = "flex-row";
}
---
<div class={`flex ${flexOrientation} ${marginTop} ${marginBottom} items-center justify-center p-4 ${containerClass}`}>
    <slot />
</div>