---
const {mt, mb} = Astro.props;
let marginTop = "mt-none"
let marginButton = "mb-none"
if(mt == "true"){
    marginTop = "mt-4"
}
if(mb == "true"){
    marginButton = "mb-4"
}
---
<div class={`flex gap-4 ${marginTop} ${marginButton}`}>
    <div class="w-4 h-4 bg-primary"></div>
    <div class="w-4 h-4 bg-secondary"></div>
    <div class="w-4 h-4 bg-secondary"></div>
</div>