---
const {text, mt, mb, type} = Astro.props;
let marginTop = "mt-none"
let marginBottom = "mb-none"
let textSize = ""
if (mt == "true"){
    marginTop = "mt-4"
}
if (mb == "true"){
    marginBottom = "mb-4"
}
if (type == "text") {
    textSize = "text-xl";
}
if (type == "title") {
    textSize = "text-3xl";
}
if (type == "bigTitle") {
    textSize = "text-6xl";
}
if (type == "mini") {
    textSize = "text-sm";
}

---
<p class={`${textSize} font-medium ${marginTop} ${marginBottom} text-primaryText-light dark:text-primaryText-dark`}>{text}</p>