---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/navBar.astro";
import Text from "../components/text.astro";
import "../styles/global.css";

---

<Layout>
  <div class="grid place-items-center min-h-screen bg-primaryBackground-light dark:bg-primaryBackground-dark">
    <div class="text-center bg-secondaryBackground-light dark:bg-secondaryBackground-dark p-6 rounded shadow w-full max-w-4xl">
      <Text text="Calendario" mb="true"/>

      <div id="calendar" class="min-h-[600px] bg-white p-4 rounded shadow"></div>
      <script src="../scripts/initCalendar.js"></script>
    </div>

  </div>
</Layout>
