---
import Layout from "../layouts/Layout.astro";
import Button from "../components/button.astro";
---

<Layout>
  
    <p>perfil</p>
    <Button design="primary" href="historialMedico" text="Ir a historial medico"/>
    <p>historial medico</p>
</Layout>
