---
// src/layouts/BaseLayout.astro
import "../styles/global.css";
import '@fontsource-variable/manrope';
import {ClientRouter} from 'astro:transitions';
import NavBar from "../components/nav_bar.astro";
---
<html lang="es" data-theme="light">
<head>
    <title>Densora</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>
    <ClientRouter/>
</head>
<body class="bg-primaryBackground-light dark:bg-primaryBackground-dark font-sans p-12 pt-0">
<header>
    <NavBar/>
</header>
<slot/>
</body>
</html>

<style>
    body {
        font-family: Manrope, serif;
    }
</style>