---
import "../styles/global.css";
import '@fontsource-variable/manrope';
import {ClientRouter} from 'astro:transitions';
import NavBar from "../components/nav_bar.astro";
---
<html lang="es">
<head>
    <title>Densora</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>
    <ClientRouter/>
</head>
<body class="bg-background-light">
    <NavBar></NavBar>
<slot/>
</body>
</html>
<style>
    body {
        font-family: Manrope, serif;
    }
</style>