---
const {text, mt, mb} = Astro.props;
let marginTop = "mt-none"
let marginBottom = "mb-none"
if (mt == "true"){
    marginTop = "mt-4"
}
if (mb == "true"){
    marginBottom = "mb-4"
}
---
<p class={`text-3xl font-bold ${marginTop} ${marginBottom} text-primaryText-light dark:text-primaryText-dark`}>{text}</p>